<template>
  <div
    class="relative dropdown"
    data-testid="accountButton"
  >
    <button
      type="button"
      class="bg-cl-transparent brdr-none p0"
      @click="goToAccount();showMenu = true;"
      @keyup.enter="goToAccount"
      tabindex="0"
      @mouseover="showMenu = true"
      @mouseout="showMenu = false"
      :aria-label="$t('Open my account')"
    >
      <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M10.1388 2.96625C10.8377 2.49926 11.6594 2.25 12.5 2.25C13.6272 2.25 14.7082 2.69777 15.5052 3.4948C16.3022 4.29183 16.75 5.37283 16.75 6.5C16.75 7.34057 16.5007 8.16226 16.0337 8.86117C15.5668 9.56008 14.903 10.1048 14.1264 10.4265C13.3498 10.7482 12.4953 10.8323 11.6709 10.6683C10.8464 10.5043 10.0892 10.0996 9.4948 9.5052C8.90043 8.91083 8.49565 8.15355 8.33167 7.32913C8.16768 6.50471 8.25184 5.65018 8.57351 4.87359C8.89519 4.09701 9.43992 3.43325 10.1388 2.96625ZM12.5 0.75C11.3628 0.75 10.2511 1.08723 9.30547 1.71905C8.35989 2.35087 7.6229 3.24889 7.1877 4.29957C6.75249 5.35024 6.63862 6.50638 6.86049 7.62177C7.08235 8.73716 7.62999 9.76171 8.43414 10.5659C9.23829 11.37 10.2628 11.9176 11.3782 12.1395C12.4936 12.3614 13.6498 12.2475 14.7004 11.8123C15.7511 11.3771 16.6491 10.6401 17.281 9.69453C17.9128 8.74894 18.25 7.63724 18.25 6.5C18.25 4.975 17.6442 3.51247 16.5659 2.43414C15.4875 1.3558 14.025 0.75 12.5 0.75ZM7.5 15.75C3.77208 15.75 0.75 18.7721 0.75 22.5V23.5H2.25V22.5C2.25 19.6005 4.60051 17.25 7.5 17.25H17.5C20.3995 17.25 22.75 19.6005 22.75 22.5V23.5H24.25V22.5C24.25 18.7721 21.2279 15.75 17.5 15.75H7.5Z" fill="white"/>
      </svg>
      <span v-if="label">
        <span v-if="!isLoggedIn">Login/SignUp</span>
        <span v-else>{{ 'Hi, ' + user.firstname }}</span>
      </span>
    </button>

    <no-ssr>
      <div v-show="currentUser" :class="['dropdown-content bg-cl-primary align-left sans-serif lh20 weight-400', !showMenu ? 'dropdown-content__hidden' : '']">
        <div class="py5">
          <div v-for="(page, index) in navigation" :key="index" @click="notify(page.title)">
            <router-link @click.native="showMenu = false" class="no-underline block py10 px15" :to="localizedRoute(page.link)">
              {{ page.title }}
            </router-link>
          </div>
        </div>
        <div class="py5 brdr-top-1 brdr-cl-bg-secondary">
          <a href="#" class="no-underline block py10 px15" @click.prevent="logout">
            {{ $t('Logout') }}
          </a>
        </div>
      </div>
    </no-ssr>
  </div>
</template>

<script>
import NoSSR from 'vue-no-ssr'
import AccountIcon from '@vue-storefront/core/compatibility/components/blocks/Header/AccountIcon'

export default {
  mixins: [AccountIcon],
  props: {
    label: {
      type: Boolean,
      default: false
    }
  },
  components: {
    'no-ssr': NoSSR
  },
  data () {
    return {
      showMenu: false,
      navigation: [
        { title: this.$t('My profile'), link: '/my-account' },
        { title: this.$t('My shipping details'), link: '/my-account/shipping-details' },
        { title: this.$t('My newsletter'), link: '/my-account/newsletter' },
        { title: this.$t('My orders'), link: '/my-account/orders' },
        { title: this.$t('My loyalty card'), link: '#' },
        { title: this.$t('My product reviews'), link: '#' },
        { title: this.$t('My Recently viewed products'), link: '/my-account/recently-viewed' }
      ]
    }
  },
  methods: {
    notify (title) {
      if (title === 'My loyalty card' || title === 'My product reviews') {
        this.$store.dispatch('notification/spawnNotification', {
          type: 'warning',
          message: this.$t('This feature is not implemented yet! Please take a look at https://github.com/DivanteLtd/vue-storefront/issues for our Roadmap!'),
          action1: { label: this.$t('OK') }
        })
      }
    }
  }
}
</script>

<style lang="scss" scoped>
@import '~theme/css/base/global_vars';
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$color-icon-hover: color(secondary, $colors-background);

.dropdown {
  .dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    top: 100%;
    width: 160px;
    z-index: 1;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
  }

  a {
    &:hover,
    &:focus {
      background-color: $color-icon-hover;
    }
  }

  @media (min-width: 768px) {
    &:hover .dropdown-content:not(.dropdown-content__hidden),
    &:focus .dropdown-content:not(.dropdown-content__hidden) {
      display: block;
    }

    &:focus-within {
      .dropdown-content:not(.dropdown-content__hidden) {
        display: block;
      }
    }
  }

}
</style>
