<template>
  <div class="category-menu-wrap">
    <ul class="category-menu-list">
      <!-- <li
        class="category-menu-item"
        :key="category.slug"
        v-for="category in visibleCategories"
      >
        <router-link
          :to="categoryLink(category)"
        >
          {{ category.name }}
        </router-link>
      </li> -->

      <li class="category-menu-item"><a href="#">Bars &amp; Plates</a></li>
      <li class="category-menu-item"><a href="#">Dumbbells &amp; Kettlebells</a></li>
      <li class="category-menu-item"><a href="#">Bodyweight</a></li>
      <li class="category-menu-item"><a href="#">Flooring</a></li>
    </ul>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import { formatCategoryLink } from '@vue-storefront/core/modules/url/helpers'
import config from 'config'

export default {
  computed: {
    ...mapGetters('category-next', ['getMenuCategories']),
    getCategories () {
      return this.getMenuCategories
    },
    categories () {
      return this.getCategories.filter((op) => {
        return op.level === (config.entities.category.categoriesDynamicPrefetchLevel >= 0 ? config.entities.category.categoriesDynamicPrefetchLevel : 2) // display only the root level (level =1 => Default Category), categoriesDynamicPrefetchLevel = 2 by default
      })
    },
    visibleCategories () {
      return this.categories.filter(category => {
        return category.product_count > 0 || category.children_count > 0
      })
    }
  },
  methods: {
    categoryLink (category) {
      return formatCategoryLink(category)
    }
  }
}
</script>

<style lang="scss" scoped>
.category-menu-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;

  .category-menu-item {
    padding: 0 30px;

    @media (max-width: 1199px) {
      padding: 0 10px;
    }

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;
    }
  }
}
</style>