<template>
  <button
    type="button"
    class="bg-cl-transparent brdr-none p0"
    @click="openSidebarMenu"
    :aria-label="$t('Open menu')"
    data-testid="menuButton"
  >
    <img src="/assets/menu-icon.svg" alt="Menu Icon">
  </button>
</template>

<script>
import HamburgerIcon from '@vue-storefront/core/compatibility/components/blocks/Header/HamburgerIcon'

export default {
  mixins: [HamburgerIcon]
}
</script>
