<template>
  <div class="header">
    <header
      class="fixed w-100"
      :class="{ 'is-visible': navVisible }"
    >
      <div class="container-fluid">
        <div class="header-wrap header-desktop" v-if="!isCheckoutPage || isThankYouPage">
          <div class="header-left">
            <logo class="block" width="auto" height="auto" />
          </div>
          <div class="header-right">
            <div class="header-right-top">
              <div class="icon-wrap">
                <search-icon class="icon pointer" :label="true" />
              </div>
              <div class="icon-wrap">
                <account-icon class="icon pointer" :label="true" />
              </div>
              <div class="icon-wrap">
                <wishlist-icon class="icon pointer" :label="true" />
              </div>
              <div class="icon-wrap">
                <microcart-icon class="icon pointer" :label="true" />
              </div>
            </div>
            <div class="header-right-bottom">
              <category-menu />
            </div>
          </div>
        </div>
        <div class="header-wrap header-mobile" v-if="!isCheckoutPage || isThankYouPage">
          <div class="left-header">
            <hamburger-icon class="icon pointer" />
            <search-icon class="icon pointer" />
          </div>
          <div class="logo-wrap">
            <logo class="block" width="auto" height="auto" />
          </div>
          <div class="right-header">
            <wishlist-icon class="icon pointer" />
            <microcart-icon class="icon pointer" />
          </div>
        </div>
        <!-- <div class="row between-xs middle-xs" v-if="!isCheckoutPage || isThankYouPage">
          <div class="col-md-4 col-xs-2 middle-xs">
            <div>
              <hamburger-icon class="icon pointer" />
            </div>
          </div>
          <div class="col-xs-2 visible-xs">
            <search-icon class="icon pointer" />
          </div>
          <div class="col-md-4 col-xs-4 flex center-xs middle-xs">
            <logo width="auto" height="auto" />
          </div>
          <div class="col-xs-2 visible-xs">
            <wishlist-icon class="icon pointer" />
          </div>
          <div class="col-md-4 col-xs-2 end-xs">
            <div class="inline-flex right-icons">
              <search-icon class="icon hidden-xs pointer" />
              <wishlist-icon class="icon hidden-xs pointer" />
              <compare-icon class="icon hidden-xs pointer" />
              <microcart-icon class="icon pointer" />
              <account-icon class="icon hidden-xs pointer" />
            </div>
          </div>
        </div> -->
        <div class="row between-xs middle-xs px15 py5" v-if="isCheckoutPage && !isThankYouPage">
          <div class="col-xs-5 col-md-3 middle-xs">
            <div>
              <router-link
                :to="localizedRoute('/')"
                class="cl-tertiary links"
              >
                {{ $t('Return to shopping') }}
              </router-link>
            </div>
          </div>
          <div class="col-xs-2 col-md-6 center-xs">
            <logo width="auto" height="auto" />
          </div>
          <div class="col-xs-5 col-md-3 end-xs">
            <div>
              <a
                v-if="!currentUser"
                href="#"
                @click.prevent="gotoAccount"
                class="cl-tertiary links"
              >{{ $t('Login to your account') }}</a>
              <span v-else>{{ $t('You are logged in as {firstname}', currentUser) }}</span>
            </div>
          </div>
        </div>
      </div>
    </header>
    <div class="header-placeholder" />
  </div>
</template>

<script>
import { mapState } from 'vuex'
import CurrentPage from 'theme/mixins/currentPage'
import AccountIcon from 'theme/components/core/blocks/Header/AccountIcon'
import CompareIcon from 'theme/components/core/blocks/Header/CompareIcon'
import HamburgerIcon from 'theme/components/core/blocks/Header/HamburgerIcon'
import Logo from 'theme/components/core/Logo'
import MicrocartIcon from 'theme/components/core/blocks/Header/MicrocartIcon'
import SearchIcon from 'theme/components/core/blocks/Header/SearchIcon'
import WishlistIcon from 'theme/components/core/blocks/Header/WishlistIcon'
import CategoryMenu from 'theme/components/core/blocks/Header/CategoryMenu'

export default {
  name: 'Header',
  components: {
    AccountIcon,
    CompareIcon,
    HamburgerIcon,
    Logo,
    MicrocartIcon,
    SearchIcon,
    WishlistIcon,
    CategoryMenu
  },
  mixins: [CurrentPage],
  data () {
    return {
      navVisible: true,
      isScrolling: false,
      scrollTop: 0,
      lastScrollTop: 0,
      navbarHeight: 54
    }
  },
  computed: {
    ...mapState({
      isOpenLogin: state => state.ui.signUp,
      currentUser: state => state.user.current
    }),
    isThankYouPage () {
      return this.$store.state.checkout.isThankYouPage
        ? this.$store.state.checkout.isThankYouPage
        : false
    }
  },
  beforeMount () {
    window.addEventListener(
      'scroll',
      () => {
        this.isScrolling = true
      },
      { passive: true }
    )

    setInterval(() => {
      if (this.isScrolling) {
        this.hasScrolled()
        this.isScrolling = false
      }
    }, 250)
  },
  methods: {
    gotoAccount () {
      this.$bus.$emit('modal-toggle', 'modal-signup')
    },
    hasScrolled () {
      this.scrollTop = window.scrollY
      if (
        this.scrollTop > this.lastScrollTop &&
        this.scrollTop > this.navbarHeight
      ) {
        this.navVisible = false
      } else {
        this.navVisible = true
      }
      this.lastScrollTop = this.scrollTop
    }
  }
}
</script>

<style lang="scss" scoped>
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$black: color(black);
$white: color(white);

header {
  height: 141px;
  top: -142px;
  z-index: 3;
  background-color: $black;
  color: $white;
  padding: 20px 24px;
  transition: top 0.2s ease-in-out;

  @media (max-width: 1199px) {
    height: 114px;
    top: -115px;
  }

  @media (max-width: 991px) {
    height: 60px;
    top: -61px;
    padding: 10px 9px;
  }

  @media (max-width: 767px) {
    padding: 10px 0;
  }

  &.is-visible {
    top: 0;
  }
}

.header-placeholder {
  height: 141px;

  @media (max-width: 1199px) {
    height: 114px;
  }

  @media (max-width: 991px) {
    height: 60px;
  }
}

.header-wrap {
  display: flex;
  font-size: 16px;

  @media (max-width: 1199px) {
    font-size: 14px;
  }

  &.header-desktop {
    @media (max-width: 991px) {
      display: none;
    }
  }

  &.header-mobile {
    display: none;

    @media (max-width: 991px) {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .logo-wrap {
      line-height: 0;

      @media (max-width: 991px) {
        flex: 0 0 56px;
        max-width: 56px;
      }

      img {
        display: block;
      }
    }

    .right-header,
    .left-header {
      display: flex;
      align-items: center;

      .icon {
        margin: 0;
        padding: 0;

        & + .icon {
          padding-left: 20px;
        }
      }
    }
  }

  .header-left {
    flex: 0 0 17.5%;
    max-width: 17.5%;
    line-height: 0;
    text-align: center;
    padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;

    @media (max-width: 1199px) {
      flex: 0 0 11.4%;
      max-width: 11.4%;
    }
  }

  .header-right {
    display: flex;
    flex: 0 0 82.5%;
    max-width: 82.5%;
    flex-direction: column;
    align-items: flex-end;
    padding-left: 10px;

    @media (max-width: 1199px) {
      flex: 0 0 88.6%;
      max-width: 88.6%;
    }

    .header-right-top {
      display: flex;
      flex-wrap: wrap;
      padding: 10px 0 40px;

      @media (max-width: 1199px) {
        padding: 0 0 30px;
      }

      .icon-wrap {
        & + .icon-wrap {
          padding-left: 40px;

          @media (max-width: 1199px) {
            padding-left: 15px;
          }
        }
      }
    }
  }
}
</style>

<style lang="scss">
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$color-secondary: color(secondary);

.header-wrap {
  button {
    font-size: 16px;
    display: flex;
    align-items: center;

    @media (max-width: 1199px) {
      font-size: 14px;
    }

    &:hover,
    &:focus {
      background-color: transparent !important;
    }

    & > svg {
      margin-right: 12px;

      @media (max-width: 991px) {
        margin-right: 0;
      }

      path {
        transition: all 0.5s ease 0s;
      }
    }

    &:hover {
      svg {
        path {
          fill: $color-secondary;
        }
      }
    }
  }
}
</style>
