<template>
  <button
    type="button"
    class="bg-cl-transparent brdr-none relative p0"
    @click="toggleWishlistPanel"
    data-testid="wishlist-icon"
    :aria-label="$t('Open wishlist')"
  >
    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
      viewBox="0 0 24 24" width="24" height="24" style="enable-background:new 0 0 24 24;" xml:space="preserve">
      <g>
        <path class="st0" fill="#FFFFFF" d="M12,24l-0.5-0.4C11.1,23.2,0.2,13.8,0.2,7.3c0-3.9,3-7,6.8-7c1.9,0,3.7,0.8,5,2.3c1.3-1.5,3.1-2.3,5-2.3
          c3.7,0,6.8,3.2,6.8,7c0,6.6-10.8,15.9-11.3,16.3L12,24z M7,1.8c-2.9,0-5.2,2.5-5.2,5.5C1.8,12.4,9.9,20.1,12,22
          c2.1-1.9,10.2-9.6,10.2-14.7c0-3.1-2.4-5.5-5.2-5.5c-1.8,0-3.4,0.9-4.4,2.5l-0.6,1l-0.6-1C10.4,2.7,8.8,1.8,7,1.8z"/>
      </g>
    </svg>
    <span
      class="whishlist-count absolute flex center-xs middle-xs border-box py0 px2 h6 lh16 weight-700 cl-white bg-cl-silver"
      v-cloak
      v-show="getWishlistItemsCount"
    >
      {{ getWishlistItemsCount }}
    </span>
    <span v-if="label">Favorites</span>
  </button>
</template>

<script>
import WishlistIcon from '@vue-storefront/core/compatibility/components/blocks/Header/WishlistIcon'

export default {
  mixins: [WishlistIcon],
  props: {
    label: {
      type: Boolean,
      default: false
    }
  }
}
</script>

<style scoped>
  .whishlist-count {
    top: 7px;
    left: 50%;
    min-width: 16px;
    min-height: 16px;
    border-radius: 10px;
  }
</style>
