<template>
    <div class="contact-info acc-menu accordion-1" ref="accordion-1">
        <h4 class="footer-menu-title accordion-header" @click="toggleAccordion(1)">{{ $t('Contact Information') }}</h4>
        <div class="accordion-body">
            <ul>
                <li><b>{{ $t('Address') }}</b><p>{{ $t('281, Av. Linton, Dollar-Des-Ormax, CA') }}</p></li>
                <li><b>{{ $t('Phone') }}</b><a href="tel:00000000000">{{ $t('+0 000 000 0000') }}</a></li>
                <li><b>{{ $t('email') }}</b><a href="fsb@emailaddress.co.uk">{{ $t('fsb@emailaddress.co.uk') }}</a></li>
            </ul>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'ContactInfo',
        mounted () {
            this.toggleAccordionOnMount();
            window.addEventListener('resize', this.toggleAccordionOnResize);
        },
        destroyed () {
            window.removeEventListener('resize', this.toggleAccordionOnResize);
        },
        methods: {
            toggleAccordion (index) {
            if (screen.width <= 767) {
                this.$refs['accordion-' + index].classList.toggle('is-open');
            }
            },
            toggleAccordionOnResize () {
            if (screen.width > 767) {
                Object.values(this.$el.getElementsByClassName('acc-menu')).forEach((accord) => {
                accord.classList.add('is-open');
                });
            } else {
                Object.values(this.$el.getElementsByClassName('acc-menu')).forEach((accord) => {
                accord.classList.remove('is-open');
                });
            }
            },
            toggleAccordionOnMount () {
            if (screen.width <= 767) {
                Object.values(this.$el.getElementsByClassName('acc-menu')).forEach((accord) => {
                accord.classList.remove('is-open');
                });
            }
            }
        }
    }
</script>

<style lang="scss" scoped>
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$white: color(white);
$gray-303030: color(gray-303030);
$gray-BFBFBF : color(gray-BFBFBF);
$gray-141414 : color(gray-141414);
$gray-1A1A1A : color(gray-1A1A1A);
$secondary : color(secondary);

.contact-info {
    color: $white;
    width: 28.4%;
    @media only screen and (min-width: 768px) and (max-width: 1023px) { 
        padding-right: 15px;
    }
    @media only screen and (max-width: 767px) {
        width: 100%;
    }

    h4 {
        font-size: 40px;
        font-family: 'Teko';
        font-weight: 500;
        margin-bottom: 20px;
        @media only screen and (min-width: 1024px) and (max-width: 1300px) { 
            font-size: 32px;
        }
        @media only screen and (min-width: 768px) and (max-width: 1023px) { 
            font-size: 28px;
        }
        @media only screen and (max-width: 767px) {
            font-size: 22px;
            position: relative;
            margin-bottom: 0;
            line-height: 60px;
            &:after, &:before {
                content: "";
                position: absolute;
                right: 0;
                top: 0;
                width: 16px;
                background-color: #fff;
                height: 2px;
                border-radius: 2px;
                bottom: 0;
                margin: auto;
            }
            &:before {
                width: 2px;
                height: 16px;
                right: 7px;
            }
        }
    }
    @media only screen and (max-width: 767px) {
        .accordion-body {
            padding: 0 30px;
            max-height: 0;
            overflow: hidden;
            transition: 0.5s ease all;
        }
    }
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        @media only screen and (max-width: 767px) {
            margin-bottom: 10px;
        }
        li {
            font-size: 16px;
            margin-bottom: 20px;
            @media only screen and (min-width: 1024px) and (max-width: 1300px) { 
                font-size: 15px;
            }
            @media only screen and (min-width: 768px) and (max-width: 1023px) { 
                font-size: 13px;
            }
            @media only screen and (max-width: 767px) { 
                font-size: 14px;
            }
            p {
                opacity: 0.6;
            }
            b{
                display: block;
                font-size: 18px;
                font-family: 'Teko';
                font-weight: 500;
                opacity: 1;
                text-transform: uppercase;
            }
            a {
                color: $white;
                opacity: 0.6;
                &:hover {
                     color: $secondary;
                     opacity: 1;
                }
            }
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}
.is-open {
    h4 {
        &:before {
            display: none;
        }
    }
    .accordion-body {
        max-height: 2000px;
    }
}
</style>