<template>
    <div class="footer-bottom">
        <div class="container">
            <div class="copyright">{{ $t('Copyright © 2020. All Rights Reserved – Theme design by') }} <a href="https://aureatelabs.com/" target="_blank">{{ $t('Aureate labs') }}</a></div>
            <div class="foooter-card">
                <img src="/assets/Payment_icon1.svg" alt="">
                <img src="/assets/Payment_icon2.svg" alt="">
                <img src="/assets/Payment_icon3.svg" alt="">
                <img src="/assets/Payment_icon4.svg" alt="">
                <img src="/assets/Payment_icon5.svg" alt="">
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'FooterBottom'
    }
</script>

<style lang="scss" scoped>
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$white: color(white);
$gray-303030: color(gray-303030);
$secondary : color(secondary);

.footer-bottom {
    border-top: 1px solid $gray-303030;
    padding: 40px 0 28px;
    .container {
        max-width: 1602px;
        display: flex;
        justify-content: space-between;
        align-items: center;    
        .foooter-card  {
            font-size: 0; 
            img {
                vertical-align: top;
                margin-left: 20px;
                @media only screen and (min-width: 768px) and (max-width: 1023px) {
                    margin-left: 7px;
                    max-width: 50px;
                }
                @media only screen and (max-width: 767px) {
                    margin: 0 3px;
                    max-width: 50px;
                }
            }
            @media only screen and (max-width: 767px) {
                padding: 16px 0;
            }
        }
        .copyright {
            color: $white;
            font-size: 16px;
            opacity: 0.6;
            font-family: 'Aller';
             a {
                 color: $white;
                 &:hover {
                     color: $secondary;
                     opacity: 1;
                 }
             }
             @media only screen and (max-width: 1023px) {
                 font-size: 14px;
            }
            @media only screen and (max-width: 767px) {
                 margin-top: 15px;
            }
        }
        @media only screen and (max-width: 767px) {
            flex-wrap: wrap;  
            justify-content: center;
            flex-direction: column-reverse;
            text-align: center;
        }
    }
    @media only screen and (max-width: 767px) {
        padding: 0 0 10px 0;      
        border-top: 0;
    }
}
</style>