@font-face {
  font-family: 'Aller';
  src: url('/assets/fonts/AllerRegular.eot');
  src: url('/assets/fonts/AllerRegular.eot') format('embedded-opentype'),
       url('/assets/fonts/AllerRegular.woff2') format('woff2'),
       url('/assets/fonts/AllerRegular.woff') format('woff'),
       url('/assets/fonts/AllerRegular.ttf') format('truetype'),
       url('/assets/fonts/AllerRegular.svg#AllerRegular') format('svg');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Teko';
  src: url('/assets/fonts/TekoRegular.eot');
  src: url('/assets/fonts/TekoRegular.eot') format('embedded-opentype'),
       url('/assets/fonts/TekoRegular.woff2') format('woff2'),
       url('/assets/fonts/TekoRegular.woff') format('woff'),
       url('/assets/fonts/TekoRegular.ttf') format('truetype'),
       url('/assets/fonts/TekoRegular.svg#TekoRegular') format('svg');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Teko';
  src: url('/assets/fonts/TekoMedium.eot');
  src: url('/assets/fonts/TekoMedium.eot') format('embedded-opentype'),
       url('/assets/fonts/TekoMedium.woff2') format('woff2'),
       url('/assets/fonts/TekoMedium.woff') format('woff'),
       url('/assets/fonts/TekoMedium.ttf') format('truetype'),
       url('/assets/fonts/TekoMedium.svg#TekoMedium') format('svg');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
