@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$white: color(white);
$black: color(black);
$color-primary: color(primary);
$color-secondary: color(secondary);

// Default
*, ::after, ::before {
  box-sizing: border-box;
}

::-moz-selection {
  color: $white;
  background-color: $color-secondary;
}

::selection {
  color: $white;
  background-color: $color-secondary;
}

:focus {
  outline-offset: 0;
  outline: 0 none;
}

body {
  color: $color-primary;
}

a, button, input[type="submit"], input[type="button"] {
  transition: all 0.5s ease 0s;
}

p {
  margin: 0 0 15px 0;

  &:last-child {
    margin-bottom: 0;
  }

  &:empty {
    margin: 0;
  }
}

a {
  color: $color-primary;

  &.router-link-exact-active,
  &:hover {
    color: $color-secondary;
  }
}

header {
  button,
  a {
    color: $white;
  
    &.router-link-exact-active,
    &:hover {
      color: $color-secondary;
    }
  }
}

footer {
  button,
  a {
    color: rgba($white, 0.6);
  
    &.router-link-exact-active,
    &:hover {
      color: rgba($color-secondary, 0.6);
    }
  }
}

img {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}

.object-cover {
  font-family: 'object-fit: cover;';
  object-fit: cover;
  width: 100%;
  height: 100%;
}