// Colors
// ======
// @LandonSchropp's approach of naming color variables.
// - http://davidwalsh.name/sass-color-variables-dont-suck
// - http://www.color-blindness.com/color-name-hue/

// General colors palette
$colors: (
  transparent: transparent,
  black: #000,
  white: #fff,
  white-smoke: #f2f2f2,
  gainsboro: #e0e0e0,
  silver: #bdbdbd,
  gray: #828282,
  suva-gray: #8e8e8e,
  matterhorn: #4f4f4f,
  burnt-sienna: #eb5757,
  buccaneer: #755,
  forest-green: #308c14,
  puerto-rico: #4dba87,
  mine-shaft: #333,
  gray-404040: #404040,
  green-3C967B: #3C967B,
  gray-F5F5F5: #F5F5F5,
  gray-DDDDDD: #DDDDDD,
  gray-808182: #808182,
  gray-595959: #595959,
  gray-FCFCFC: #FCFCFC,
  gray-303030: #303030,
  gray-BFBFBF: #BFBFBF,
  gray-141414: #141414,
  gray-1A1A1A: #1A1A1A,
  gray-E3E3E3: #E3E3E3
);

// Theme generic colors
// Key: name of color
// Value: color value or map with default, hover, focus color values
$colors-theme: (
  primary: (
    default: map-get($colors, gray-404040),
    hover: map-get($colors, green-3C967B)
  ),
  secondary: (
    default: map-get($colors, green-3C967B),
    hover: map-get($colors, gray-404040),
  ),
  accent: (
    default: map-get($colors, matterhorn),
    hover: map-get($colors, black),
  ),
  tertiary: map-get($colors, silver),
  success: map-get($colors, puerto-rico),
  warning: map-get($colors, buccaneer),
  error: map-get($colors, burnt-sienna)
);

$colors-border: (
  primary: map-get($colors, gray-404040),
  secondary: map-get($colors, green-3C967B),
);

$colors-background: (
  primary: (
    default: map-get($colors, gray-404040),
    hover: map-get($colors, green-3C967B)
  ),
  secondary: (
    default: map-get($colors, green-3C967B),
    hover: map-get($colors, gray-404040),
  ),
  tertiary: map-get($colors, suva-gray)
);
